[submodule "SaturnEngine/libs/spdlog"]
	path = SaturnEngine/libs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "SaturnEngine/libs/rapidJSON"]
	path = SaturnEngine/libs/rapidJSON
	url = https://github.com/Tencent/rapidjson.git
